::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: crimson;
    z-index: 0;
}

::-webkit-scrollbar-thumb {
    background: orangered;
    z-index: 0;
}

::-webkit-scrollbar-thumb:hover {
    background: orangered;
    z-index: 0;
}