@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html,
body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased !important; 
    text-rendering: optimizeLegibility !important;
}

header {
    z-index: 999;
    top: 0;
    position: fixed;
    height: 90px;
    width: 100%;
    opacity: .9;
    background-color: snow;
    border-bottom: 10px solid deeppink;
}

header>h2 {
    position: relative;
    left: 50px;
    font-weight: 900;
    font-size: 30px;
    color: #000042;
    text-transform: lowercase;
}

main {
    position: absolute;
    top: 0;
    width: 100%;
    content-visibility: auto;
}

main.galleryPage {}

main.galleryPage>.content {
    width: 100%;
    text-align: center;
    align-content: center;
    justify-content: center;
    background: white;
    display: flex;
}

main.galleryPage>.content>div.flex-container {
    display: -webkit-flex;
    flex-wrap: wrap;
    width: 90%;
    margin-bottom: 125px;
    padding-bottom: 175px;
    padding-top: 125px;
    margin-top: 75px;
    border-right: 2.25px solid whitesmoke;
    border-left: 2.25px solid whitesmoke;
    text-align: center;
    align-content: center;
    justify-content: center;
}

/*
main.galleryPage>.content>div.flex-container>div.card-wrapper>a.inquiries {
    border-radius: 7.5px;
    background: #000042;
    color: white;
    text-decoration: none;
    padding: 5px 10px 3px 10px;
    position: relative;
    top: 5px;
    border-bottom: 4px solid deeppink;
}

main.galleryPage>.content>div.flex-container>div.card-wrapper>a.inquiries:hover {
    opacity: .6;
    transition: 1s all;
    border-bottom: 4px solid transparent;
}
*/

main.galleryPage>.content>div.flex-container>div.card-wrapper>div.pricing {
    position: relative;
    left: 25px;
    text-align: left;
    padding: 5px;
    margin: 5px;
    margin-top: 0px;
    letter-spacing: 1px;
    width: 226px;
    font-size: 13px;
    color: #000042;
}

main.galleryPage>.content>div.flex-container>div.card-wrapper>div.pricing>a {
    color: white;
    border-radius: 5px;
    border: 0px solid transparent;
    padding: 1.2px 7px 2px 5px;
    margin: 3px 0px;
    background: #b92b27;
    background: -webkit-linear-gradient(to right, #4158D0, #C850C0, #FFCC70);
    background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    width: fit-content;
    border-left: 4px solid deeppink;
    text-decoration: none;
}

main.galleryPage>.content>div.flex-container>div.card-wrapper>div.pricing>a:hover {
    opacity: .2;
    transition: 1s all;
}

main.galleryPage>.content>div.flex-container>div.card-wrapper>.image {
    background: whitesmoke;
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    width: 245px;
    height: 400px;
    display: flex;
    margin: 25px;
    margin-bottom: 15px;
}

main.galleryPage>.content>div.flex-container>div.card-wrapper>.image:hover {
    filter: saturate(0%) hue-rotate(0deg) blur(0px);
    -webkit-transition: filter 2s;
    transition: all 2s;
    box-shadow: 0px 0px 0px 0px black;
    opacity: .35;
}

main.galleryPage>.content>div.flex-container>div.card-wrapper>.image {
    text-align: center;
    align-content: center;
    justify-content: center;
    display: -webkit-flex;
    flex-wrap: wrap;
    box-shadow: 2px 3px 4px 2px lightgrey;
}

/* 
 * This is responsible for providing a default background 
 * during initial page loading.
 * 
 * A customized missing src/image div.image is used for scenarios 
 * where an image absence can be predicted.
 */
main.galleryPage>.content>div.flex-container>div.card-wrapper>img.image {
    color: transparent;
}

main.galleryPage>.content>div.flex-container>div.card-wrapper>.image { /*.apply-linear-gradient { */
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

main.galleryPage>.content>div.flex-container>div.card-wrapper>.image.apply-linear-gradient>span {
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15.5px;
}

footer {
    padding: 25px;
    margin: 25px;
    position: fixed;
    bottom: 0;
}

footer>div#my-blog {
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    letter-spacing: 1.25px;
    font-family: "JetBrains Mono", monospace;
    padding: 10px 12px;
    margin: 5px;
    font-size: 13px;
    box-shadow: 1px 2px 3px 1px gray;
    border-bottom: 2px solid lightgreen;
    width: 305px;
    border-radius: 25px;
    background-color: #000042;
    box-shadow: 1px 2px 2px 1px purple;
    border-left: 5px solid deeppink;
    right: 15px;
    position: relative;
}

footer>div#hosted-on {
    width: 185px;
    margin: 25px;
    padding: 9.5px;
    font-size: 11px;
    font-style: italic;
    border-left: 5px solid #000042;
    border-bottom: 5px solid lightgreen;
    color: crimson;
    font-weight: 600;
}

footer>div#hosted-on>a {
    color: purple;
}

footer>div#hosted-on>span {
    position: relative;
    bottom: 1.5px;
    font-style: normal;
    color: black;
}

footer>div#my-blog>span {
    position: relative;
    bottom: 2px;
}

footer>div#my-blog>a,
footer>div#hosted-on>a {
    margin-left: 3px;
    margin-right: 3px;
}

footer>div#my-blog>a {
    color: white;
}

footer>div#my-blog:hover {
    background-color: #000042;
    box-shadow: 1px 2px 2px 1px purple;
    border-left: 5px solid deeppink;
}

footer>div#my-blog:hover,
footer>div#my-blog>a:hover {
    -webkit-transition: all .9s;
    transition: all .9s;
    opacity: .75;
    box-shadow: 0px 0px 0px 0px transparent;
    font-style: italic;
}

footer>div#hosted-on:hover {
    color: lightgreen;
    border-left: 5px solid orangered;
    border-bottom: 5px solid deeppink;
    -webkit-transition: all 1.9s;
    transition: all 1.9s;
}

footer>div#hosted-on>a:hover {
    -webkit-transition: all .9s;
    transition: all .9s;
    opacity: .75;
    color: turquoise;
}

footer>div#date-generated {
    font-size: 8px;
    padding: 5px;
    color: whitesmoke;
    background-color: #C850C0;
    border-radius: 15px;
    width: 360px;
    box-shadow: 1px 2px 2px 1px purple;
    border-bottom: 1px solid deeppink;
    border-left: 2px solid lightgreen;
}