@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html,
body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    z-index: 999;
    top: 0;
    position: fixed;
    height: 90px;
    width: 100%;
    opacity: .9;
    background: purple;
    border-bottom: 10px solid deeppink;
}

header>h2 {
    position: relative;
    left: 50px;
    font-weight: 900;
    font-size: 30px;
    color: white;
    text-transform: lowercase;
}

main {
    position: absolute;
    top: 0;
    width: 100%;
}

main.galleryPage {}

main.galleryPage>.content {
    width: 100%;
    text-align: center;
    align-content: center;
    justify-content: center;
    opacity: .8;
    background: white;
    display: flex;
}

main.galleryPage>.content>div.flex-container {
    display: -webkit-flex;
    flex-wrap: wrap;
    width: 90%;
    margin-bottom: 125px;
    padding-bottom: 175px;
    padding-top: 125px;
    margin-top: 75px;
    border-right: 2.25px solid whitesmoke;
    border-left: 2.25px solid whitesmoke;
    text-align: center;
    align-content: center;
    justify-content: center;
}

main.galleryPage>.content>div.flex-container>div.image{
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    width: 245px;
    height: 400px;
    display: flex; 
    margin: 25px;
}

main.galleryPage>.content>div.flex-container>div.image:hover {
    opacity: .45;
}

main.galleryPage>.content>div.flex-container>div.image {
    text-align: center;
    align-content: center;
    justify-content: center;
    display: -webkit-flex;
    flex-wrap: wrap;
    box-shadow: 1px 2px 3px 0px lightgrey;
}
main.galleryPage>.content>div.flex-container>div.image.apply-linear-gradient {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);    
}

main.galleryPage>.content>div.flex-container>div.image.apply-linear-gradient > span {
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15.5px;
}

footer {
    padding: 25px;
    margin: 25px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer>div#my-blog {
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    letter-spacing: 1.25px;
    font-family: "JetBrains Mono", monospace;
    padding: 10px 12px;
    margin: 5px;
    font-size: 14px;
    box-shadow: 1px 2px 3px 1px gray;
    border-bottom: 2px solid lightgreen;
    width: 325px;
    border-radius: 25px;
    background-color: #000042;
    box-shadow: 1px 2px 2px 1px purple;
    border-left: 5px solid deeppink;
    right: 15px;
    position: relative;
}

footer>div#hosted-on {
    width: 185px;
    margin: 25px;
    padding: 9.5px;
    font-size: 11px;
    font-style: italic;
    border-left: 5px solid #000042;
    border-bottom: 5px solid lightgreen;
    color: crimson;
    /* padding-top: 30px; */
    font-weight: 600;
}

footer>div#hosted-on>a {
    color: purple;
}

footer>div#hosted-on>span {
    position: relative;
    bottom: 1.5px;
    font-style: normal;
    color: black;
}

footer>div#my-blog>span {
    position: relative;
    bottom: 2px;
}

footer>div#my-blog>a,
footer>div#hosted-on>a {
    margin-left: 3px;
    margin-right: 3px;
}

footer>div#my-blog>a {
    color: white;
}

footer>div#my-blog:hover {
    background-color: #000042;
    box-shadow: 1px 2px 2px 1px purple;
    border-left: 5px solid deeppink;
}

footer>div#my-blog:hover,
footer>div#my-blog>a:hover {
    -webkit-transition: all .9s;
    transition: all .9s;
    opacity: .75;
    box-shadow: 0px 0px 0px 0px transparent;
    font-style: italic;
}

footer>div#hosted-on:hover {
    color: lightgreen;
    border-left: 5px solid orangered;
    border-bottom: 5px solid deeppink;
    -webkit-transition: all 1.9s;
    transition: all 1.9s;
}

footer>div#hosted-on>a:hover {
    -webkit-transition: all .9s;
    transition: all .9s;
    opacity: .75;
    color: turquoise;
}

footer>div#date-generated {
    font-size: 8px;
    padding: 5px;
    color: whitesmoke;
    background-color: #C850C0;
    border-radius: 15px;
    width:360px;
    box-shadow: 1px 2px 2px 1px purple;
    border-bottom: 1px solid deeppink;
    border-left: 2px solid lightgreen;
}